.paper {
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  min-width: 0;
  aspect-ratio: 1;
}

.title {
  padding: 24px;
  padding-bottom: 16px;
  font-weight: 600;
  color: #001441;
}

.chartContainer {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 0;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 24px;
}

