.container {
  width: calc(50% - 1.5vw);
  background-color: white;
  border-radius: 1.25vw;
  padding: 1.875vw;
  position: relative;
  box-shadow: 0 0.25vw 0.75vw rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 1.25rem;
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
  color: #1a1a1a;
  margin-bottom: 1.25vw;
}

.chartArea {
  flex: 1;
  width: 100%;
  margin-top: 3.75vh;
  position: relative;
  border-radius: 0.5vw;
  padding: 1.25vw;
}

.yAxis {
  position: absolute;
  left: 0;
  top: 1.25vw;
  bottom: 2.5vh;
  width: 2.5vw;
  min-width: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  padding-right: 0.625vw;

  @media (max-width: 1599px) {
    top: -2.5vh;
  }
}

.yAxisLabel {
  font-size: 1.0625rem;
  font-family: 'Poppins', sans-serif;
  color: #7f7f7f;
  text-align: right;
}

.xAxis {
  position: absolute;
  left: 2.5vw;
  min-width: 40px;
  right: 0;
  height: 2.5vh;
  min-height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 1.25vw;
  padding-right: 1.25vw;
  bottom: 0px;
  z-index: 10;

  @media (max-width: 1599px) {
    bottom: 3.75vh;
    z-index: 10;
  }
}

.xAxisLabel {
  font-size: 1.0625rem;
  font-family: 'Poppins', sans-serif;
  color: #7f7f7f;
  text-align: center;
}

.chartVisualization {
  position: absolute;
  top: 1.25vw;
  left: 3.75vw;
  right: 1.25vw;
  bottom: 2.5vh;
  background-color: white;
  border-radius: 0.25vw;
}

.chartSvg {
  position: absolute;
  top: -1.25vw;
  left: 0;

  @media (max-width: 1599px) {
    top: -3.75vh;
  }
}

.legend {
  display: flex;
  gap: 2vw;
  justify-content: center;
  margin-top: 1.25vw;
  position: relative;
  flex-shrink: 0;

  @media (max-width: 1599px) {
    position: absolute;
    top: 2.0625vh;
    right: 1.25vw;
    margin-top: 0;
    display: flex;
    gap: 0.5vw;
    z-index: 10;
  }
}

.legendItem {
  display: flex;
  align-items: center;
  gap: 0.5vw;
  border: 0.5px solid #c6c6c6;
  border-radius: 3.125vw;
  padding: 0.5vw 0.625vw;
  height: 1.75vh;
  min-height: 28px;
  background: white;

  @media (min-width: 1600px) {
    border: none;
    border-radius: 0;
    padding: 0;
    height: auto;
    background: transparent;
  }
}

.legendDot {
  width: 0.625vw;
  height: 0.625vw;
  min-width: 10px;
  min-height: 10px;
  border-radius: 50%;
  flex-shrink: 0;
}

.legendText {
  font-size: 1.125rem;
  font-weight: 500;
  font-family: 'Poppins', sans-serif;

  @media (max-width: 1599px) {
    font-size: 0.75rem;
    color: black;
  }
}

.claimedDot {
  background-color: #3b82f6;
}

.claimedText {
  color: #3b82f6;
}

.refundedDot {
  background-color: #10b981;
}

.refundedText {
  color: #10b981;
}

