.header {
  flex-shrink: 0;
  padding: 24px 24px 2rem 0;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  margin-bottom: 0;
  padding-left: 0;
  font-weight: 600;
  color: #001441;
  font-size: 34px;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  line-height: 41.99px;
  letter-spacing: 0.2499px;
}

.subtitle {
  font-size: 1.1rem;
  color: #40578c;
  margin: 0;
  line-height: 1.5;
  font-weight: 400;
}

@media (max-width: 768px) {
  .header {
    margin-bottom: 2rem;
    padding: 0 1rem 2rem 0;
  }
  
  .title {
    font-size: 2rem;
    padding-left: 0;
  }
  
  .subtitle {
    font-size: 1rem;
  }
} 