.dashboard {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.title {
  width: 100%;
  margin-bottom: 2vh;
  font-size: 1.875rem;
  font-weight: 700;
  flex-shrink: 0;
}

.metricsRow {
  display: flex;
  flex-direction: row;
  gap: 1.5vw;
  flex-shrink: 0;
}

.chartsRow {
  display: flex;
  flex-direction: row;
  gap: 1.5vw;
  flex: 1;
  min-height: 0;
  margin-top: 3vh;
  
  @media (min-width: 1400px) {
    margin-top: 2vh;
  }
  
  @media (max-width: 1200px) {
    gap: 1.5vw;
    margin-top: 2.5vh;
  }
  
  @media (max-width: 992px) {
    gap: 1vw;
    margin-top: 2vh;
  }
  
  @media (max-width: 768px) {
    flex-direction: column;
    gap: 1.5vw;
    margin-top: 1.5vh;
  }
  
  @media (max-width: 576px) {
    gap: 1vw;
    margin-top: 1vh;
  }
}

