.dashboard {
  width: 100%;
}

.title {
  width: 100%;
  margin-bottom: 2vh;
  font-size: 1.875rem;
  font-weight: 700;
}

.metricsRow {
  display: flex;
  flex-direction: row;
  gap: 2vw;
}

.chartsRow {
  display: flex;
  flex-direction: row;
  gap: 2vw;
  height: 100%;
  margin-top: 3vh;
  
  @media (min-width: 1400px) {
    margin-top: 2vh;
  }
  
  @media (max-width: 1200px) {
    gap: 1.5vw;
    margin-top: 2.5vh;
  }
  
  @media (max-width: 992px) {
    gap: 1vw;
    margin-top: 2vh;
  }
  
  @media (max-width: 768px) {
    flex-direction: column;
    gap: 1.5vw;
    margin-top: 1.5vh;
  }
  
  @media (max-width: 576px) {
    gap: 1vw;
    margin-top: 1vh;
  }
}

