.dashboard {
  width: 100%;
}

.title {
  width: 100%;
  margin-bottom: 24px;
  font-size: 1.875rem; // text-3xl
  font-weight: 700; // font-bold
}

.metricsRow {
  display: flex;
  flex-direction: row;
  gap: 32px;
  
  @media (max-width: 1200px) {
    gap: 24px;
  }
  
  @media (max-width: 992px) {
    gap: 16px;
  }
  
  @media (max-width: 768px) {
    flex-direction: column;
    gap: 16px;
  }
}

.chartsRow {
  display: flex;
  flex-direction: row;
  gap: 32px;
  height: 100%;
  margin-top: 48px;
  
  @media (min-width: 1400px) {
    margin-top: 32px;
  }
  
  @media (max-width: 1200px) {
    gap: 24px;
    margin-top: 40px;
  }
  
  @media (max-width: 992px) {
    gap: 16px;
    margin-top: 32px;
  }
  
  @media (max-width: 768px) {
    flex-direction: column;
    gap: 24px;
    margin-top: 24px;
  }
  
  @media (max-width: 576px) {
    gap: 16px;
    margin-top: 16px;
  }
}

