.dashboard {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  gap: 1.5vw;
  padding-bottom: 1.5vw;
}

.header {
  flex-shrink: 0;
  padding: 24px 24px 4px 24px;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pageTitle {
  margin-bottom: 0;
  font-weight: 600;
  color: #001441;
}

.metricsRow {
  display: flex;
  flex-direction: row;
  gap: 1.5vw;
  flex-shrink: 0;
}

.chartsRow {
  display: flex;
  flex-direction: row;
  gap: 1.5vw;
  flex: 1;
  min-height: 0;
}

