/* Reset and base styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
}

[data-scrollable],
* {
  scrollbar-width: thin;
  scrollbar-color: #c1c1c1 transparent;
}

#root {
  height: 100%;
}

/* Global styles */
body {
  background-color: #f5f5f5;
}